<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="favicon.ico"/>
<title>Inventário Mercadinho - Início</title>
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap-vue.css">
</head>

<body>


	<div id="inicio" class="container-fluid table" >
		<h4>Lista de Produtos</h4>
		<div class="row" id="sucesso" style="display: none">
		<div class="col-sm-5">
			<div class="alert alert-success" role="alert">{{mensagem}}</div>
		</div>
		</div>
		<div class="row" id="erro" style="display: none">
		<div class="col-sm-5">
			<div class="alert alert-danger" role="alert">{{mensagem}}</div>
		</div>
	</div>
		<div class="row">
			<div class="col-xs-12 col-sm-5 text-center"><a href="/mercado/novo-produto.html">
				<button type="button" class="btn btn btn-success">Novo+</button>
				</a>
			</div>
		</div>
		<table>
		  <tr>
			<th>Nome</th>
			<th>Fabricante</th>
			<th>Volume</th>
			<th>Unidade</th>
			<th>Estoque</th>
			<th></th>
			<th></th>
		  </tr>
		  <tbody id="event-table" >
			<tr v-for="produto in listaProdutos">
			  <td>{{ produto.nome }}</td> 
			  <td>{{ produto.fabricante.nome }}</td> 
			  <td>{{ produto.volume }}</td> 
			  <td>{{ produto.unidade }}</td> 
			  <td>{{ produto.estoque }}</td>
			  <td><span @click="alterar(produto.id)">&#9998;</span>
				<span id="excluir" @click="excluir(produto.id)">&#10006;</span>
			  </td>
			</tr>
		  </tbody>
		</table>
	  </div>

	<script src="resources/js/vue.js"></script>
	<script src="resources/js/axios.min.js"></script>
	<script src="resources/js/index.js"></script>
</body>
</html>