<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="favicon.ico"/>
	<title>Cadastrar um novo Produto </title>
	<link rel="stylesheet" type="text/css"
		href="resources/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css"
		href="resources/css/bootstrap-vue.css">
</head>

<body>

<a href="/mercado/index.html">Voltar</a>

<div id="app">
	<h4>{{titulo}}</h4>
	<div class="row" id="sucesso" style="display: none">
	<div class="col-sm-5">
		<div class="alert alert-success" role="alert">{{mensagem}}</div>
	</div>
	</div>
	<div class="row" id="erro" style="display: none">
	<div class="col-sm-5">
		<div class="alert alert-danger" role="alert">{{mensagem}}</div>
	</div>
	</div>
	<form @submit.prevent="salvar">
		<div class="row">
			<div class="col-sm-1">
				<label>Nome:</label>
			</div>
			<div class="col-sm-3">
				<input name="nome" id="nome" type="text" class="form-control" v-model="produto.nome" required="required"/>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1">
				<label>Volume:</label>
			</div>
			<div class="col-sm-3">
				<input name="volume" id="volume" type="number" step="0.01" class="form-control" v-model="produto.volume" required="required"/>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1">
				<label>Unidade:</label>
			</div>
			<div class="col-sm-3">
				<input name="unidade" id="unidade" type="text" class="form-control" v-model="produto.unidade" required="required"/>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1">
				<label>Estoque:</label>
			</div>
			<div class="col-sm-3">
				<input name="estoque" id="estoque" type="number" class="form-control" v-model="produto.estoque" required="required"/>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1">
				<label>Fornecedor:</label>
			</div>
			<div class="col-sm-3">
				<select name="fornecedor" id="fornecedor" v-model="produto.fabricante.id" label="produto.fabricante.nome" class="form-control" required="required">
					<option  v-for="fornecedor in listaFornecedor" 
					 v-bind:value="fornecedor.id">{{ fornecedor.nome }}</option>
				</select>
			</div>
		</div><br>
		<div class="row">
			<div class="col-sm-4 text-center">
				<button type="submit" class="btn btn-success">Incluir</button>
			</div>
		</div>
	</form>
		
</div>

	<script src="resources/js/vue.js"></script>
	<script src="resources/js/axios.min.js"></script>
	<script src="resources/js/cadastro-de-produtos.js"></script>
</body>
</html>